/* General Reset */
* {
  padding: 0%;
  margin: 0%;

}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6fb;
  color: #1f1f1f;
 
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5c4dff;
}

.signup-btn {
  background-color: #5c4dff;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

/* Hero Section */
.primary-text {
  text-align: center;
  padding: 100px 32px;
  margin-top: -60px;
  background-image: url("B12A01-landing-launchpad/Assets/Hero-bg.png"); 
  background-size: contain;
}

.primary-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.primary-btn {
  background-color: #5c4dff;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}

/* Action Section */

.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 32px;
  background-color: #f7f9fc;
  flex-wrap: wrap;
}

.action-text {
  padding-left: 140px;
  padding-right: 80px;
}

.action-text h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.action-text p {
  font-size: 18px;
  color: #7a7a7a;
  margin-bottom: 32px;
}

.action-image {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.action-image img {
  max-width: 100%;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
